@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Cardo", serif;
  line-height: 1.5;
  color: #2F3540;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.coming-soon-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 auto;

  background-color: #f2ede4;
  background-image: url("../images/coming-soon-banner.svg");
}

.cs-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.cs-info {
  margin: 1.5rem;
}

.cs-info2 {
  margin: 0;
}

.cs-info3 {
  margin: 2rem;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.i-18 {
  height: 18px;
  width: 18px;
}

.cs-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-icons {
  color: #2f3540;
  list-style-type: none;
}

.social-icons:hover {
  color: #f66256;
}

.social-icons:focus {
  color: #f66256;
  outline: .2rem solid #000;
  outline-offset: .1rem;
}
