@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Cardo", serif;
  line-height: 1.5;
  color: #2F3540;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.coming-soon {
  margin: 0;
  background-color: #f2ede4;
}

.cs-section {
  margin: 0 auto;
  padding: 1rem;
  max-width: 38em;
}

.logo {
  display: block;
  width: 110px;
  margin: 1rem auto;
}

.cs-content {
  margin: 0 auto;
  max-width: 30em;
}

.cs-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0 0 .5rem;
}

.cs-info {
  margin: 0 0 .6rem;
}

.bold {
  font-weight: bold;
  font-style: normal;
}

.cs-social {
  padding: 0;
  margin: 0 auto;
  max-width: 30em;
}

.social-icons {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.icon {
  color: #2f3540;
  width: 48px;
}

a:hover .icon {
  color: #f66256;
  width: 48px;
}
